<% @cocktails.each do |cocktail| %>
  <div class="fullpage_banner" data-aos="fade-right" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
    <section>
      <h3><%= cocktail.name %></h3>

      <h5> Ingredients :</h5>
      <ul>
        <% cocktail.ingredients.each do |ingredient| %>
          <li><%= ingredient.name %></li>
        <% end %>
      </ul>
      <%= link_to "Go to Recipe", cocktail_path(cocktail), class:"button_square" %>
    </section>
  </div>
<% end %>